.header-section {
  margin: 0 auto;
  max-width: 320px;
  background-image: url('../images/header-background-m-1x.webp');
  background-size: cover;
  padding: 15px;
}
.logo-section {
  position: absolute;
  top: 0;
  left: 0;
}

.title-and-form-container {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-bottom: 100px;
}

.header-title {
  width: 280px;
  font-size: 18px;
  font-weight: 900;
  line-height: 21.94px;
  text-align: center;
  color: rgba(220, 86, 197, 1);
}

.form-input {
  width: 280px;
  color: rgba(147, 147, 147, 1);
  background-color: rgba(255, 255, 255, 0.082);
  border-radius: 20px;
  border: none;
  outline: none;
  padding: 5px;
}
